<section id="topHeader">
    <div class="container marginAuto clearfix">
        <div class="containerLeft clearfix">
            <span class="imgSpan"><img src="images/header-phone.png" alt=""></span>
            <span>客服热线：</span>
            <span class="active">8888-888-888</span>
            <span>（节假日不休：8:00-20:00）</span>
        </div>
        <div class="containerRight">
            <ul class="clearfix">
                <li><a href="" title="" class="normal active1 backSize">关注我们</a></li>
                <li><a href="" title="" class="normal active2 backSize">App下载</a></li>
                <li><a href="" title="" class="normal">企业理财</a></li>
                <li><a href="" title="" class="normal">帮助中心</a></li>
                <li><a href="" title="" class="unnormal">关于我们</a></li>
            </ul>
        </div>
    </div>
</section>
<section id="header" class="rel">
    <div class="header-content marginAuto clearfix">
        <div class="header-logo clearfix">
            <a href="" title=""><span class="icon1">棒</span></a>
            <a href="" title=""><span class="icon2">棒</span></a>
            <a href="" title=""><span class="icon3">糖</span></a>
            <a href="" title="" class="active">
                <img src="images/header-detail.png" alt="">
            </a>
        </div>
        <div class="header-contant clearfix">
            <ul class="clearfix">
                <li class="noBrather active"><a href="indexPage.html" class="showBorder">首页</a></li>
                <li class="noBrather drags">
                    <span href="" title="" class="showBorder">
                        我要理财
                        <em class="icon">&#xe652;</em>
                    </span>
                    <ul class="manageMoney">
                        <li class="manage"><a href="zreoSave.html" title="">零存宝</a></li>
                        <li class="manage"><a href="plan.html" title="">定期计划</a></li>
                        <li class="manage"><a href="investment.html" title="">散标投资</a></li>
                    </ul>
                </li>
                <li class="noBrather"><a href="security.html" class="showBorder">安全保障</a></li>
                <li class="noBrather"><a href="xszy.html" class="showBorder">新手指引</a></li>
                <li class="user clearfix">
                    <a href="login.html" class="login">登录</a>
                    <a href="reg.html" class="register">注册</a>
                </li>
            </ul>
        </div>
    </div>
</section>


