<div class="login-top">
    <div class="container clearfix">
        <div class="header-logo clearfix">
            <a href="indexPage.html" title="">
                <span class="icon1">棒</span>
                <span class="icon2">棒</span>
                <span class="icon3">糖</span>
            </a>
            <a href="indexPage.html" title="" class="active">
                <img src="images/header-detail.png" alt="">
            </a>
        </div>
        <div class="header-logo-right" style="line-height: 96px">
            <img src="images/header-phone.png">
            <span><em>客服热线：</em>8888-088-888</span>
        </div>
    </div>
</div>
<div class="bg-login">
    <div class="container clearfix">
        <div class="login-right clearfix">
            <!--注册模块 starts-->
            <h2>欢迎注册</h2>
            <div class="register-left">
                <p>手机号</p>
                <p>密码</p>
                <p>验证码</p>
                <p>手机验证码</p>
                <p>推荐人</p>
            </div>
            <form id="form_register" action="" method="">
                <input class="form_username" type="text" name="" value="" placeholder="请输入手机号码">
                <input class="form_password" type="password" name="" value="" placeholder="请设置6-16位登录密码">
                <div class="yanzhengma clearfix">
                    <input class="form_valid" type="text" name="" value="" placeholder="请输入验证码">
                    <div></div>
                    <img src="images/change.png" alt="">
                </div>
                <div class="huoqu-box">
                    <input class="code" type="text" name="" value="" placeholder="请输入手机验证码">
                    <input class="btn" type="button" name="" value="获取验证码" placeholder="">
                </div>
                <input type="text" name="" value="" placeholder="请输入已注册邦帮堂的手机号码或邀请码(选填)">
                <div class="input-ty clearfix">
                    <input class="checkbox" type="checkbox" checked="checked">
                    <p>我已阅读并同意<a href="#">《邦帮堂平台服务协议》</a></p>
                </div>
                <p class="user"><span>!</span>请填写正确的手机号</p>
                <p class="password"><span>!</span>6-16位字符,可使用字母且区分大小写,数字,下划线且不包含空格</p>
                <p class="valid"><span>!</span>验证码输入有误(区分大小写)</p>
                <p class="form"><span>!</span>请完善表单内容</p>
                <a href="#" class="reg-button">注册领取20000体验金</a>
            </form>
            <div class="register-bottom">
                <p>已有账户？点击右侧登录</p>
                <div class="reg-iconslogin">
                </div>
            </div>
            <!--注册模块 ends-->
            <!--登录模块 starts-->
            <form id="form_login" action="" method="">
            </form>
            <!--登录模块 starts-->
        </div>
        <div class="signIn clearfix">
            <h2 class="login">登录</h2>
            <div class="register-left">
                <p>用户名</p>
                <p>密码</p>
            </div>
            <form id="form_register" action="" method="">
                <input class="form_username" type="text" name="" value="" placeholder="请输入用户名/手机号">
                <input class="form_password" type="password" name="" value="" placeholder="请设置6-16位登录密码">
                <div class="input-ty clearfix">
                    <input type="checkbox" checked="checked">
                    <p>记住用户名<a class="forget" href="#">忘记密码</a></p>
                </div>
                <p class="usererror"><span>!</span>用户名不能为空</p>
                <p class="passworderror"><span>!</span>密码不能为空</p>
                <a href="#" class="reg-button">登录</a>
                <p class="signIn-footer"><span></span>棒棒糖账户资金由华海保险承保</p>
            </form>
            <div class="register-bottom">
                <p>没有账户？点击右侧注册</p>
                <div class="reg-iconssiginIn">
                </div>
            </div>
            <!--注册模块 ends-->
        </div>
    </div>
</div>
<div class="login-footer">
    <div class="container">
        <ul class="clearfix">
            <li><a href="#">关于我们</a></li>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">新手指引</a></li>
            <li><a href="#">媒体报道</a></li>
            <li><a href="#" style="border-right:none;">招贤纳士</a></li>
        </ul>
        <p> © 2016 北京紫貔财富网络科技有限公司 版权所有 | 京ICP备14046327号 | 京ICP证161218号</p>
    </div>
</div>
