<div class="planPage">
    <div class="plan-banner">
        <div class="plan-container fn-clear">
            <div class="banner-left">
                <h3>定期计划</h3>
                <div class="line">
                    预期年化收益率
                </div>
                <div class="rata">
                    <span>6</span>
                    <span>~10.36</span>
                </div>
                <div class="tip fn-clear">
                    <div>当日利息</div>
                    <div>收益稳健</div>
                    <div>分散投资</div>
                    <div>期限灵活</div>
                </div>
            </div>
            <div class="banner-right">
                <img src="images/plan-banner.png" alt="">
            </div>
        </div>
    </div>
    <div class="plan-content">
        <div class="plan-container">
            <div class="section">
                <div class="top fn-clear">
                    <div>
                        <span class="icon1"></span>
                        <span>可使用红包</span>
                    </div>
                    <div>
                        <span class="icon2"></span>
                        <span>可使用加息券</span>
                    </div>
                </div>
                <div class="detail fn-clear">
                    <div class="code">
                        <a href="#">
                            <em class="first">定期B</em>
                            <em>-16110802</em>
                        </a>
                    </div>
                    <div class="rata">
                        <p class="first">7.00</p>
                        <p>预计年化收益率</p>
                    </div>
                    <div class="month">
                        <p class="first">3个月</p>
                        <p>期限</p>
                    </div>
                    <div class="charge">
                        <p class="first">2,074000元</p>
                        <p>剩余可投金额</p>
                    </div>
                    <div class="btn">
                        <a href="#">
                            <span>马上投资</span>
                            <div class="up"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="top fn-clear">
                    <div>
                        <span class="icon1"></span>
                        <span>可使用红包</span>
                    </div>
                    <div>
                        <span class="icon2"></span>
                        <span>可使用加息券</span>
                    </div>
                </div>
                <div class="detail fn-clear">
                    <div class="code">
                        <a href="#">
                            <em class="first">定期c</em>
                            <em>-16110802</em>
                        </a>
                    </div>
                    <div class="rata">
                        <p class="first">8.00</p>
                        <p>预计年化收益率</p>
                    </div>
                    <div class="month">
                        <p class="first">6个月</p>
                        <p>期限</p>
                    </div>
                    <div class="charge">
                        <p class="first">2,260,000元</p>
                        <p>剩余可投金额</p>
                    </div>
                    <div class="btn">
                        <a href="#">
                            <span>马上投资</span>
                            <div class="up"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="top fn-clear">
                    <div>
                        <span class="icon1"></span>
                        <span>可使用红包</span>
                    </div>
                    <div>
                        <span class="icon2"></span>
                        <span>可使用加息券</span>
                    </div>
                </div>
                <div class="detail fn-clear">
                    <div class="code">
                        <a href="#">
                            <em class="first">定期复利</em>
                            <em>-16110802</em>
                        </a>
                    </div>
                    <div class="rata">
                        <p class="first">10.36</p>
                        <p>预计年化收益率</p>
                    </div>
                    <div class="month">
                        <p class="first">12个月</p>
                        <p>期限</p>
                    </div>
                    <div class="charge">
                        <p class="first">0元</p>
                        <p>剩余可投金额</p>
                    </div>
                    <div class="empty-btn">
                        <a href="#">
                            <span>已售罄</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-footer">
        <div class="plan-container">
            <div class="title">
                <h2>往期回顾</h2>
            </div>
            <div class="content">
                <div class="top">
                    <span class="active">定期A</span>
                    <span>定期B</span>
                    <span>定期C</span>
                    <span>定期D</span>
                    <span>定期 月盈</span>
                    <span>定期 复利</span>
                </div>
                <table class="table">
                   
                </table>
                <div class="pager">
                    <div class="box">
                        <span class="prevAll iconfont">&#xe615;</span>
                        <span class="prev iconfont">&#xe64f;</span>
                        <span class="change step">1</span>
                        <span class="step">2</span>
                        <span class="step">3</span>
                        <span class="step">4</span>
                        <span class="step">5</span>
                        <span class="step">6</span>
                        <span class="next iconfont">&#xe617;</span>
                        <span class="nextAll iconfont">&#xe616;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
